<div class="header-container">
  <header class="header">
    <div class="logo">
      <img src="../../../assets/images/logo-farms.png" alt="Logo de Farms">
    </div>

    <div class="lang" (click)="toggleMenu()">
      <img [src]="flags[selectedLang]" alt="drapeau" />
      <span>{{ selectedLang }}</span>
      <span class="arrow" [class.open]="isOpen">▼</span>

      <div class="lang-menu" *ngIf="isOpen">
        <button (click)="selectLang('FR'); $event.stopPropagation()">
          <img src="../../../assets/images/france.png" alt="Français"> FR
        </button>
        <button (click)="selectLang('EN'); $event.stopPropagation()">
          <img src="../../../assets/images/royaume-uni.png" alt="Anglais"> EN
        </button>
        <button (click)="selectLang('ES'); $event.stopPropagation()">
          <img src="../../../assets/images/drapeau.png" alt="Espagnol"> ES
        </button>
        <button (click)="selectLang('PT'); $event.stopPropagation()">
          <img src="../../../assets/images/bresil.png" alt="Portugais"> PT
        </button>
      </div>
    </div>

  </header>
</div>