.grid-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  margin-top: 70px;
}
.toolbar-icon {
  position: relative;
  width: 42px;
  height: 42px;
}

.file-icon {
  background-color: #8dc63f;
  border-radius: 6px;
  width: 30px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  // coin replié en haut à droite
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: #2d6a4f;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}

.file-arrow {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
}.toolbar-icon {
  position: relative;
  width: 42px;
  height: 42px;
}

.file-icon {
  background-color: #2d6a4f;
  border-radius: 6px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  // coin replié en haut à droite
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: #6aaa2a;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}

.file-arrow {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
}

.btn-nouveau-contact {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  color: #4a4a4a;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #8dc63f;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;

  &:hover {
    background-color: #f0f7eb;
  }
}

.btn-icon {
  color: #8dc63f;
  font-size: 16px;
}

.grid-container {
  width: 1600px;
  margin: 0 auto;
  height: auto;
}


// ── Kendo Dialog pleine hauteur à droite
::ng-deep .k-dialog-wrapper {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: stretch !important;
  padding: 0 !important;
}

::ng-deep .k-dialog {
  height: 100vh !important;
  width: 420px !important;
  margin: 0 !important;
  border-radius: 0 !important;
  position: fixed !important;
  right: 0 !important;
  top: 0 !important;
  left: auto !important;
  display: flex;
  flex-direction: column;

  .k-dialog-titlebar {
    background: #fff;
    color: #222;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    justify-content: center;
    padding: 20px;
    flex-shrink: 0;
  }

  .k-dialog-content {
    flex: 1;
    overflow-y: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}