<div class="contact-container">
  <div class="form-content">
    <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()">

<h2>{{ 'VOS_INFOS' | translate }}</h2>
      <div class="form-group">
        <input type="text" formControlName="societe" [placeholder]="'SOCIETE' | translate" />
        @if (contactForm.get('societe')?.invalid && contactForm.get('societe')?.touched) {
          <span>Société requise</span>
        }
      </div>

      <div class="form-group">
        <input type="text" formControlName="nom" [placeholder]="'NOM' | translate" />
        @if (contactForm.get('nom')?.invalid && contactForm.get('nom')?.touched) {
          <span>Nom requis (min 2 caractères)</span>
        }
      </div>

      <div class="form-group">
        <input type="text" formControlName="prenom" [placeholder]="'PRENOM' | translate" />
        @if (contactForm.get('prenom')?.invalid && contactForm.get('prenom')?.touched) {
          <span>Prénom requis (min 2 caractères)</span>
        }
      </div>

      <div class="form-group">
        <input type="email" formControlName="email" [placeholder]="'EMAIL' | translate" />
        @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
          <span>Email requis et doit être valide</span>
        }
      </div>

      <div class="form-group">
        <input type="text" formControlName="telephone" [placeholder]="'TELEPHONE' | translate" />
        @if (contactForm.get('telephone')?.invalid && contactForm.get('telephone')?.touched) {
          <span>Téléphone requis</span>
        }
      </div>

      <div class="form-group">
        <input type="text" formControlName="pays" [placeholder]="'PAYS' | translate" />
        @if (contactForm.get('pays')?.invalid && contactForm.get('pays')?.touched) {
          <span>Pays requis</span>
        }
      </div>

   <div class="form-group langue-group">
  <h2>{{ 'LANGUE PREFEREE' | translate }}</h2>
  <label class="langue-option" *ngFor="let lang of langues">
    <input type="radio" formControlName="langue" [value]="lang.code" />
    <!-- axe-disable-next-line image-alt -->
<img [src]="lang.flag" alt="drapeau" />    <span>{{ lang.label }}</span>
  </label>
</div>

      <div class="form-group">
        <label class="besoins-label"></label>
        <h2>{{ 'VOS_BESOINS' | translate }}</h2>
        <app-selection-besoins
          [items]="besoinsDisponibles"
          [selected]="besoinsSelectionnes"
          (selectedChange)="onBesoinsChange($event)">
        </app-selection-besoins>
      </div>

      <div class="form-group">
        <textarea formControlName="commentaire" [placeholder]="'COMMENTAIRE' | translate "></textarea>
      </div>

    </form>
  </div>

  <div class="modal-actions">
  <button type="button" (click)="onCancel()">{{ 'ANNULER' | translate }}</button>
  <button type="button" (click)="handleSubmit()" [disabled]="contactForm.invalid">{{ 'VALIDER' | translate }}</button>
  </div>

</div>