<div class="contact-container">
  <h2>{{ isNew ? 'Ajouter un contact' : 'Modifier le contact' }}</h2>

  <form [formGroup]="contactForm" (ngSubmit)="handleSubmit()">

    <div class="form-group">
      <input type="text" formControlName="societe" placeholder="Société" />
      @if (contactForm.get('societe')?.invalid && contactForm.get('societe')?.touched) {
        <span>Société requise</span>
      }
    </div>

    <div class="form-group">
      <input type="text" formControlName="nom" placeholder="Nom" />
      @if (contactForm.get('nom')?.invalid && contactForm.get('nom')?.touched) {
        <span>Nom requis (min 2 caractères)</span>
      }
    </div>

    <div class="form-group">
      <input type="text" formControlName="prenom" placeholder="Prénom" />
      @if (contactForm.get('prenom')?.invalid && contactForm.get('prenom')?.touched) {
        <span>Prénom requis (min 2 caractères)</span>
      }
    </div>

    <div class="form-group">
      <input type="email" formControlName="email" placeholder="Email" />
      @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
        <span>Email requis et doit être valide</span>
      }
    </div>

    <div class="form-group">
      <input type="text" formControlName="telephone" placeholder="Téléphone" />
      @if (contactForm.get('telephone')?.invalid && contactForm.get('telephone')?.touched) {
        <span>Téléphone requis</span>
      }
    </div>

    <div class="form-group">
      <input type="text" formControlName="pays" placeholder="pays" />
      @if (contactForm.get('pays')?.invalid && contactForm.get('pays')?.touched) {
        <span>Pays requis</span>
      }
    </div>

    <div class="form-group">
      <textarea formControlName="commentaire" placeholder="Commentaire"></textarea>
    </div>

    <div class="modal-actions">
      <button type="button" (click)="onCancel()">Annuler</button>
      <button type="submit" [disabled]="contactForm.invalid">Valider</button>
    </div>

  </form>
</div>